In [ ]:
#Tuple is Sequence data type
# Homogeneous and Heterogeneous

In [1]:
t=(11,22,33,44,55,66,77,88,99)  #Homogeneous
print(t)
print(type(t))
print(id(t))
t=(11,22,"A","Pradeep",None)  #Heterogeneous
print(t)
print(type(t))
print(id(t))

(11, 22, 33, 44, 55, 66, 77, 88, 99)
<class 'tuple'>
2827610510768
(11, 22, 'A', 'Pradeep', None)
<class 'tuple'>
2827610525104

In [13]:
#Tuples Representation
T = (10,20,30)
print(T)
print(type(T))

(10, 20, 30)
<class 'tuple'>

In [11]:
T=10,20,30
print(T)
print(type(T))

(10, 20, 30)
<class 'tuple'>

In [14]:
T=()
print(T)
print(type(T))

()
<class 'tuple'>

In [15]:
T=11
print(T)
print(type(T))

11
<class 'int'>

In [16]:
#Accept one value in tuple
T=11,
print(T)
print(type(T))

(11,)
<class 'tuple'>

In [ ]:
 L = [11,22,33]
 L.reverse()
 print(L)

In [ ]:
 L = [11,22,33]
 L.reverse()
 print(L)

In [5]:
 T= (11,22,33)
 T.reverse() # can not do this bcz tuple is immtuabl
 print(T)

AttributeError: 'tuple' object has no attribute 'reverse'

In [2]:
 L = [33,55,11]
 L.sort()
 print(L)

[11, 33, 55]

In [3]:
T=(11,22,33)
T.sort()    # can do this bcz tuple is immuable
print(T)

AttributeError: 'tuple' object has no attribute 'sort'

In [7]:
T=(11,44,33,22)
a=sorted(T)
print(T)
print(a)

(11, 44, 33, 22)
[11, 22, 33, 44]

In [8]:
T=(11,44,33,22)
a=sorted(T)
print(T)
print(type(T))
print(id(T))
print(a)
print(type(a))
print(id(a))

(11, 44, 33, 22)
<class 'tuple'>
2827616919664
[11, 22, 33, 44]
<class 'list'>
2827610774656

In [10]:
 T =(11,22,33)
 print(T[1])    # Tuple is sequence type
 T[1] = 44      # Tuple is immutable
 print(T)

22

TypeError: 'tuple' object does not support item assignment